<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="../static/styles/main.css">
    <link rel='icon' href='../static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="../static/img/logo.svg" />
                </div>
            </a>
        </div>
    </header>

    <!-- Profile -->
    <div class="profile">
        <div class="profile-picture">
            <img src="{{ url_for('static', filename='img/Jane_hackathon_refined.jpg') }}">
        </div>
        <h1>Jane Choi</h1>
    </div>

    <nav class="menu-bar">
        <a href="/jane">About</a>
        <a href="/jane/hobbies">Hobbies</a>
    </nav>

    <!-- About -->
    <section class="about">
        <h2>About Me</h2>
        <p>Hello, my name is Jane Choi. I am currently pursuing a bachelor’s degree in 
            Computer Science and Software Engineering at the University of Washington. 
            I enjoy collaborating to build software and seeing products used by real users. 
            I am driven to learn, combine skills, and collaborate with others. 
            I look forward to bringing my skills and experiences to future opportunities 
            and contributing positively to the teams I work with.</p>
        <img src="{{ url_for('static', filename='img/sunset_square.jpg') }}" alt="Jane Choi">
    </section>

    <!-- Work Experience -->
    <section class="work-experience">
        <h2>Work Experience</h2>
        {% for experience in work_experiences %}
        <div class ="experience">
            <h3>{{ experience.company }}</h3>
            <p>{{ experience.role }} </p>
            <p> {{ experience.duration }} </p>
            <ul>
                {% for point in experience.description %}
                    <li>{{ point }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </section>

    <!-- Education -->
    <section class="education">
        <h2>Education</h2>
        {% for education in educations %}
        <div class="education-item">
            <h3>{{ education.school }}</h3>
            <p>{{ education.degree }} | {{ education.duration }}</p>
        </div>
        {% endfor %}
    </section>

    <!-- Map -->
    <section class="map">
        <h2>Places I've Visited</h2>
        <p>Korea, California, West Virginia, Washington D.C., Las Vegas</p>
    </section>
</body>
</html>